@{
    ViewData["Title"] = "Oops!";
}
<a asp-action="Index">
    <button class="btn btn-dark">Go Back</button>
</a>

<div class="message">
    <img src="~/image/stop.png" width="40%" alt="Lock Icon">
    <h1>Oops!</h1>
    <p>You are not allowed to access this page.</p>
</div>