@{
    ViewData["Title"] = "Stock Report";
}

<a asp-action="Reports">
    <button class="btn btn-dark">Go Back</button>
</a>
<h1 style="color:white; display:flex; justify-content:center;">Stock Report</h1>

<table style="margin-top:20px" class="table text-white">
    <tr>
        <th>ID</th>
        <th>Item Name</th>
        <th>Qty</th>
    </tr>
    <tr>
        <td>1</td>
        <td>hand towel</td>
        <td>200</td>
        
    </tr>
</table>